@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ebebeb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif
}
