@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #a1a1a1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Inter, sans-serif;
}

b, strong {
  color: #ffffff;
}
